# TerraLive Environment Configuration
# Copy this file to .env and fill in real values.

PROJECT_NAME="TerraLive API"
TIDB_URL="mysql://482JsrDfMNW7Syb.root:8HpGerCcNCrj2xhW@gateway01.ap-northeast-1.prod.aws.tidbcloud.com:4000/test"
ELASTIC_URL="https://my-elasticsearch-project-db9b79.es.us-central1.gcp.elastic.cloud:443"
ELASTIC_API_KEY="Q1FPQmo1d0JEVDVaWUdXUG5xRzE6ZVBMZ29NSmtYbHRaM2RWSU13cWxRQQ=="
GOOGLE_APPLICATION_CREDENTIALS="C:\Users\Admin\Documents\Terralive_AI\gcp-service-account.json"
GEMINI_API_KEY="AIzaSyBcXWSs0LrCZtSDEtmzuCm5HDiap90yAxU"
FIREBASE_CREDENTIALS="C:\Users\Admin\Documents\Terralive_AI\firebase-credentials.json"